body {
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
.logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 60px;
    padding: 20px 0;
    cursor: pointer;
}

.content {
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 64px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.content h2{
    position: absolute;
    font-weight: 3000;
    top: 18px;
    left: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.launch-time{
    display: flex;
    justify-content: center;
    align-items: center;
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
    margin-top: 5px;
}
.copyright {
    position: absolute;
    font-size: 80%;
    top: 50%;
    left: 50%;
    top: 910px;
    transform: translate(-50%, -50%);
    text-align: center;
}